*{
    font-family: 'Raleway', sans-serif;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

body {
    display: flex;
    justify-content: center;
    background-color: #fdfefa;
    flex-flow: row wrap;
  }
  :focus {
    outline: none;
  }

h1 {
text-align: center;
font-size: 70px;
padding-left:0;
margin-left: 0;
color


}

img {
  position: absolute;
  margin-left: 396px;
  margin-top: 23px;



}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color: rgb(21, 103, 180);
  }


  button{
    font-family: 'Raleway', san serif;
    font-weight: bolder;
    border: 4px solid #302f3a;
    color: #302f3a;
    position: relative;
    margin: 2rem 3rem;
    padding: 1rem 2rem;
    font-size: 1.15rem;
    background-color: transparent;
    cursor: pointer;
  }
  button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -.6rem;
    top: -.5rem;
    z-index: -1;
    background-color: #F7567C;
    transition: all 200ms ease-out;
  }
  button:hover::before {
    top: 0;
    left: 0;
  }
  .button--bop:active {
    transform: translateY(3px);
  }

 /* li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    word-spacing: 15px;
    color: navy;
    width: auto;
    display: inline-block;
    height: 100%;
    width: 10%;
    float: left;
  } */

 img {
  p
 }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
