* {
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.navbar-logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    object-fit: contain;
}

@media (max-width: 992px) {

}

@media (max-width: 768px){

}

@media (max-width: 576px) {

}

[class*="col-"] {
    padding: 1rem;
}
